/*.md-card {
  width: 300px;
}*/
.main {

}
.chat {
	border: 5px solid black;
}
md-input-container {
  width: 400px;
}

.event-radius {
  width: 100px;
}

md-input-container:not(.md-input-invalid) {
  color: green;
}

md-input-container:not(.md-input-invalid) {
  color: dodgerblue;
}

md-input-container.md-input-invalid ,
md-input-container.md-input-invalid {
  color: red;
}
.resultname {
  font-weight: bold;
}

.thumb-up:hover {
  color: dodgerblue;
}

.md-icon-button[disabled] .thumb-up {
  color: dodgerblue;
}

.searchcard {
  width: 300px;
}
.savedcard {
  width: 300px;
}
