<md-toolbar>
  <div class="md-padding">
    <span class="md-display-1">NightByte</span>
  </div>
</md-toolbar>
<div class="main" layout-margin layout="row" layout-align="center center">
  <form flex="65" class="new-event" layout="column" name="new-event" ng-submit="sendNewEvent()">
    <div class="new-event-details">
      <div>
        <h2 class="md-title">Name your event and tell us where it's located:</h2>
        <md-input-container>
          <label>Event Name</label>
          <input type="text" name="event-name "ng-model="event.event_name" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Location</label>
          <input type="text" name="event-location "ng-model="event.location" ng-required="true">
        </md-input-container>
      </div>
      <div>
        <h2 class="md-title">Tell us how large an area to search:</h2>
        <md-input-container class="event-radius">
          <label>Search Radius</label>
          <md-select ng-model="event.radius">
            <md-option ng-repeat="value in radius" value="{{value}}">
              {{value}} mi
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div>
        <h2 class="md-title">Tell us when your event will take place:</h2>
        <div layout="row" layout-align="start center">
          <div>
              <md-datepicker name="event-date" ng-model="event.date" md-placeholder="Enter Date" ng-required="true" md-min-date="minDate"></md-datepicker>
          </div>
          <span flex="5"></span>
          <md-input-container>
            <input type="time" name="event-time "ng-model="event.time" ng-required="true" placeholder="Event time" flex="30">
          </md-input-container>
        </div>
      </div>
    </div>
    <md-input-container>
      <md-button class="md-raised md-primary" type="submit">Create Event</md-button>
    </md-input-container>
  </form>
</div>
