<h3 class="md-title" align="center">Comments</h3>
<div class='messages'>
  <div ng-repeat="message in messages">{{message.name}} {{message.text}}</div>
</div>
<div class='chatcontrols'>
  <form name="chat" class="chatinput" ng-submit="sendMessage()">
    <md-input-container>
      <label>Leave a message</label>
      <input ng-model='message' name="message" type='text'>
    </md-input-container>
    <md-input-container>
      <md-button ng-click="sendMessage()">Send</md-button>
    </md-input-container>
  </form>
</div>
