<h3 class="md-title" align="center">Comments</h3>
<div class='messages'>
  <ul>
    <li ng-repeat="message in messages" class='bubble'>'{{message.text}}' says {{message.name}}</li>
  </ul>
</div>
<div class='chatcontrols'>
  <form name="chat" class="chatinput" ng-submit="sendMessage()">
    <md-input-container>
      <label>Your Name</label>
      <input ng-model='name' name='name' type='text'>
    </md-input-container>
    <md-input-container>
      <label>Leave A Message</label>
      <input ng-model='message' name="message" type='text'>
    </md-input-container>
    <md-input-container>
      <md-button type="submit">Send</md-button>
    </md-input-container>
  </form>
</div>
